<h1>List of Restaurants</h1>

<ul class="list-group list-group-flush">
  <% @restaurants.each do |restaurant| %>
    <li class ="list-group-item"><%= link_to restaurant.name, restaurants_path(restaurant) %> </li>
  <% end %>
