<h1><%= @restaurant.name %></h1>
<ul>
  <li>Address: <%= @restaurant.address %></li>
  <li>Category: <%= @restaurant.category %></li>
</ul>

<%= link_to "Back to all restaurants", restaurants_path, style: 'display: block' %>
