<h1>New Review</h1>

<div class="container w-75">
  <%= simple_form_for [@restaurant, @review] do |f| %>
    <%= f.input :content %>
    <%= f.submit "Submit Review", class: "btn btn-primary" %>
  <% end %>
</div>
